<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="dbConnectionString"
     providerName="System.Data.ProviderName"
     connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=DealDB;Integrated Security=True" />
  </connectionStrings>
</configuration>